#container {
padding: 5%;
}

body {
    font: 10px sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.circle {
    fill: #48ff31;
}

.line
{
    stroke: blue;
    fill: none;
}

#chartContainer
{
    float: left;
    overflow: hidden;
    height: 90%;
    width: 60%;
    margin: 2%;
    padding: 2%;
    border: 1px solid gray;
}

#header {
margin: 2%;
padding: 2%;
}

.navbar {
    margin-bottom: 20px;
}

.pagination-centered {
    text-align: center;
    float:none;
    display:inline-block;
    vertical-align:middle;
}


#rightcontent {
float: right;
overflow: hidden;
height: 90%;
width: 30%;
margin: 2%;
padding: 2%;
border: 1px solid gray;
}

#footer {
float: right;
margin: 2%;
padding: 2%;
}


